<a href = "/login">log in</a>
<p>Not account</p>
<p>ID: <%= user.id %></p>
<p>First Name: <%= user.firstName %></p>
<p>Last Name: <%= user.lastName %></p>
<p>Most recent checkin:</p>
<% for(var i=0; i<user.checkins.items.length; i++) {%>
	<p>
    	<pre>&#9"id: <%=user.checkins.items[i].id%>"</pre>
    	<pre>&#9"venue: <%=user.checkins.items[i].venue.name%>"</pre>
    	<pre>&#9"address: <%=user.checkins.items[i].venue.location.address%>"</pre>
	</p>
<% }%>